[
	"/usr/local/bin/check-disk-usage.rb",
	"/usr/local/bin/check-https-cert.rb -u https://www.amon.cx",
	"/usr/local/bin/check-ping.rb -h amon.cx",
	"/usr/local/bin/check-ping.rb -h nonexistingdomain.io",
	"/usr/local/bin/check-ports.rb -p 22,80",
	"/usr/local/bin/check-ports.rb -p 9000",
	"/usr/local/bin/check-threads-count.rb",
	"/usr/local/bin/check-entropy.rb",
	"/usr/lib/nagios/plugins/check_apt",
	"/usr/lib/nagios/plugins/check_disk -w 20 -c 40",
	"/usr/lib/nagios/plugins/check_dns -H amon.cx"
]