<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title></title>
	
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/media/css/screen.css" />
	{% block header %}

	{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="wrapright"> 	  
	    <div class="right">
			<div class="breadcrumb">
				<h1>
				{% block breadcrumb %}
			
				{% endblock %}
				</h1>
			</div>
			{% block content %}
			
			{% endblock %}

	    </div>
	</div>    
	    <div class="left">
			<div class="logo"></div>

			<ul>
				<li>
					<a {% if current_page=='dashboard' %} class="active"
					
					{% endif %} href="/">Dashboard</a>
				</li>
							
				<li>
					<a {% if current_page=='application' %} class="active"
					
					{% endif %} href="/application">Application</a>
				</li>

				<li>
					<a {% if current_page=='system' %} class="active"
					
					{% endif %} href="/system">System</a>
				</li>

			
			</ul>
	    </div> 
</div>
	{% block js %}
	{% endblock %}
</body>
</html
