<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Amon -{% block title %} {% endblock %}</title>
	
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/media/css/screen.css" />
	<link rel="stylesheet" href="/media/css/jquery-ui.css" />
	{% block header %}

	{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="wrapright"> 	  
	    <div class="right">
			<div class="breadcrumb">
				<h1>
				{% block breadcrumb %}
			
				{% endblock %}
				</h1>
			</div>
			{% block content %}
			
			{% endblock %}

	    </div>
	</div>    
	    <div class="left">
			<div class="logo"></div>
			<ul>
				<li>
					<a class='top {% if current_page=='dashboard' %}active{% endif %}' href="/">Dashboard</a>
				</li>
				<li>
					<a class='top {% if current_page=='system' %}active{% endif %}' href="/system">System</a>
				</li>
				<li>
					<a class='top {% if current_page=='processes' %}active{% endif %}' href="/processes">Processes</a>
				</li>
				<li>
					<a class='top {% if current_page=='logs' %}active{% endif %}' href="/logs">Logs</a>
				</li>
				<li>
					<a class='top {% if current_page=='settings' %}active{% endif %}' href="/settings">Settings</a>
				</li>
			</ul>
	    </div> 
</div>
	<script type="text/javascript" src='/media/js/jquery-1.6.2.min.js'></script>
	<script type="text/javascript" src='/media/js/date.format.min.js'></script>
	{% block js %}
	{% endblock %}
</body>
</html
