<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Amon {{ app.version }} - {% block title %} {% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/media/css/screen.css" />
	<link rel="stylesheet" href="/media/css/new_design.css" />
	<link rel="stylesheet" href="/media/css/jquery-ui.css" />
	{% block header %}
	{% endblock %}
</head>
<body>
<div id="header">
    <div class="wrapper">
        <a href="/" class="logo"></a>
	    {% if acl == "True" %}
			<a href="{{ base_url|url('logout') }}" class='button logout' title='Logout'></a>
        {% else %}
        <span class='top-menu-spacer'></span>
		{% endif %}
	    <ul id='menu' class='default'>
				<li>
					<a class='top {% if current_page=='dashboard' %}active{% endif %}' href="/">Dashboard</a>
				</li>
				<li>
					<a class='top {% if current_page=='system' %}active{% endif %}' href="/system">System</a>
				</li>
				<li>
					<a class='top {% if current_page=='processes' %}active{% endif %}' href="/processes">Processes</a>
				</li>
				<li>
					<a class='top {% if current_page=='logs' %}active{% endif %}' href="/logs">Logs
                    {% if app.unread_values.logs and current_page != 'logs' %}
					<span class="unread">{{ app.unread_values.logs }}</span>{% endif %}</a>
				</li>
				<li>
					<a class='top {% if current_page=='exceptions' %}active{% endif %}' href="/exceptions">Exceptions
					{% if app.unread_values.exceptions and current_page != 'exceptions' %}
					<span class="unread">{{ app.unread_values.exceptions }}</span>{% endif %}</a>
				</li>
				{% if acl == "True" and app.user %}
				<li>
					<a class='top {% if current_page=='settings' %}active{% endif %}' href="/settings">Settings</a>
				</li>
				{% endif %}
			</ul>
    <div class="header_separator"><!-- --></div>
    </div><!-- wrapper end -->
</div><!-- header end -->
<div class="wrapper">
{% block breadcrumb %}{% endblock %}
{% block filter %}{% endblock %}
{% block content %}
{% endblock %}
</div><!-- wrapper end -->
	<script type="text/javascript" src='/media/js/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src='/media/js/date.format.min.js'></script>
	<script type="text/javascript" src='/media/js/jquery.relative-date.js'></script>
	<script type="text/javascript" src='/media/js/moment.min.js'></script>
	{% block js %}
	{% endblock %}
</body>
</html>
