<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/media/css/login.css" />
</head>
<body>
	<div class="center">
		<img class='logo' src="/media/images/logo.png" alt="" />
		<div class="message">
		Amon is no longer in read-only mode.
		To access the application, please create a user using the form below.	
		</div>
		<div class="login_box">
			<ul>
				<li>
					<label for="" class='background-label username'></label>
					<input id="" name="" type="text" placeholder='Username' />
				</li>
				<li>
					<label for="" class='background-label password'></label>
					<input id="" name="" type="password" placeholder='Password' />
				</li>
				<li>
					<input type="submit" value="Create" class='button create' />
				</li>
			
			</ul>
		
		</div>
	
	</div>
	
</body>
</html>
