{% extends "base.html" %}

{% block breadcrumb %}
Dashboard
{% endblock %}
{% block content %}
<h2>127.0.0.1 ( localhost )</h2>

{% if check %}

<table class='info'>
		<tr class="thead">
			<td class="status">
				status
			</td>
			<td  class="overview">
				overview
			</td>
			<td class="check"> 
				last check
			</td>
			<td class="details">
				details
			</td>
		</tr>
		<tr class="tbody">
			<td class="status">
				<span class="ok"></span>
			</td>
			<td class="overview">
				cpu
			</td>
			<td class="check">
				{{ check.time|date }}

			</td>
			<td class="details">
				idle: {{ check.cpu.idle }}%
				&nbsp;
				user: {{ check.cpu.user }}% 
				&nbsp;
				system: {{ check.cpu.system }}%
			</td>
		
		</tr>
		<tr class="tbody odd">
			<td class="status">
				<span class="ok"></span>
			</td>
			<td class="overview">
				loadavg
			</td>
			<td class="check">
				{{ check.time|date }}

			</td>
			<td class="details">
				1 minute: {{ check.loadavg.minute }}
				&nbsp;
				5 minutes: {{ check.loadavg.five_minutes }} 
				&nbsp;
				15 minutes: {{ check.loadavg.fifteen_minutes }}
			</td>
		
		</tr>

		<tr class="tbody">
			<td class="status">
				<span class="warning"></span>
			</td>
			<td class="overview">
				memory
			</td>
			<td class="check">
				{{ check.time|date }}

			</td>
			<td class="details">
				total: {{ check.memory.memtotal }}MB
				&nbsp;
				free: {{ check.memory.memfree }}MB 
				&nbsp;
				swap: {{ check.memory.swaptotal }}MB
				&nbsp;
				swap free: {{ check.memory.swapfree }}MB
			</td>
		
		</tr>
		<tr class="tbody odd">
			<td class="status">
				<span class="ok"></span>
			</td>
			<td class="overview">
				disk
			</td>
			<td class="check">
				{{ check.time|date }}

			</td>
			<td class="details">
				{% for volume  in check.disk %}
					volume: {{ volume }}
					&nbsp;
					total: {{ check.disk[volume].total }}
					&nbsp;
					used: {{ check.disk[volume].used }}
					&nbsp;
					free: {{ check.disk[volume].free }}

				<br /><br />
				{% endfor %}
			</td>
		
		</tr>
	




{% else %}
<div class="message">
Couldn't connect to Redis.
</div>
{% endif %}
</table>
{% endblock %}
