{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block breadcrumb %}Dashboard {% endblock %}
{% block content %}
<h2>Last check -  {{ last_check.memory.time|date }} </h2>
{% if last_check %}

<table class='info'>
		<tr class="thead">
			<td class="status">
			</td>
			<td  class="overview">
				overview
			</td>
			<td class="details">
				details
			</td>
		</tr>
		<tr class="tbody">
			<td class="status">
							<!--<span class="ok"></span>-->
			</td>
			<td class="overview">
				cpu
			</td>
			<td class="details">
				idle: {{ last_check.cpu.idle }}%
				&nbsp;
				user: {{ last_check.cpu.user }}% 
				&nbsp;
				system: {{ last_check.cpu.system }}%
			</td>
		
		</tr>
		<tr class="tbody odd">
			<td class="status">
				<!--<span class="ok"></span>-->
			</td>
			<td class="overview">
				loadavg
			</td>
			<td class="details">
				1 minute: {{ last_check.loadavg.minute }}
				&nbsp;
				5 minutes: {{ last_check.loadavg.five_minutes }} 
				&nbsp;
				15 minutes: {{ last_check.loadavg.fifteen_minutes }}
			</td>
		</tr>

		<tr class="tbody">
			<td class="status">
				<!--<span class="warning"></span>-->
			</td>
			<td class="overview">
				memory
			</td>
			<td class="details">
				total: {{ last_check.memory.memtotal }}MB
				&nbsp;
				free: {{ last_check.memory.memfree }}MB 
				&nbsp;
				swap: {{ last_check.memory.swaptotal }}MB
				&nbsp;
				swap free: {{ last_check.memory.swapfree }}MB
			</td>
		
		</tr>
		<tr class="tbody odd">
			<td class="status">
				<!--<span class="ok"></span>-->
			</td>
			<td class="overview">
				disk
			</td>
			<td class="details">
				{% for volume  in last_check.disk %}
					{% if volume != '_id' and volume != 'time' %}
					volume: {{ volume }}
					&nbsp;
					total: {{ last_check.disk[volume].total }}
					&nbsp;
					used: {{ last_check.disk[volume].used }}
					&nbsp;
					free: {{ last_check.disk[volume].free }}
					{% endif %}
				{% endfor %}
			</td>
		
		</tr>
{% else %}
<div class="message">
</div>
{% endif %}
</table>
{% endblock %}
