{% extends "base.html" %}
{% block title %}
Exceptions
{% endblock %}
{% block breadcrumb %}
<li>Exceptions</li>
{% endblock breadcrumb %}
{% block content %}
{% if exceptions.count() == 0 %}
<div class="message">No data</div>
{% endif %}
<ul class="exceptions_list">
	{% for exc in exceptions  %}
	<li >
		<div class="heading {% if loop.index == 1  %}no-top-border{% endif %}">
			<span class="occurrences" title='Total occurrences'>{{ exc.total_occurrences }}</span>
			<div class="exception_info">
				<span class='last_occurrence'>Last occurrence: </span>
				<span class="date timestamp" title='{{ exc.last_occurrence|date_local }}'>{{ exc.last_occurrence }}</span>
					<span class="exception">
					{% if exc.exception_class  %}
						{{ exc.exception_class }}
					{% endif %}
				</span>
				{% if exc.backtrace and exc.additional_data|test_additional_data==true %}
					<a href="" class="collapse" rel='{{ loop.index }}' title='Expand'>Expand</a>
				{% endif %}
			</div>
		</div>
		<div class="exception_additional_data" id='exception_data-{{ loop.index }}'>
		<ul class='exception_data'>
					{% if exc.url %}
						<li>
							<h4>URL:</h4>
							<span class='data url'>{{ exc.url }}</span>
						</li>
					{% endif %}
			{% if exc.backtrace %}
			<li>
				<h4>Backtrace:</h4>
				{% if exc.backtrace|length >= 5 %}
					<a class='show_full_trace' rel="{{ exc._id }}" href="">Full trace</a>
				{% endif %}
				<p class='backtrace'>
				{% for line in exc.backtrace %}

					<span >{{ line }}</span>
					{% if loop.index == 5 %}
					<p class="hidden" id='full-trace-{{ exc._id }}'>{% endif %}
					{% if loop.last %}</p>{% endif %}
				{% endfor %}
				</p>
			</li>	
			{% endif %}
		</ul>
		{% if exc.additional_data|test_additional_data %}
		<ul class='exception_data'>
			<h4>Additional data:</h4>
			{{ exc.additional_data.0|exceptions_dict }}
		</ul>
		{% endif %}
		</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$('.timestamp').relativeDate();
	$('.collapse').click(function(e)
	{
		var id = $(this).attr('rel');
		$('#exception_data-'+id).toggle();
		var text = $(this).text() == 'Expand' ? 'Collapse' : 'Expand';
		$(this).text(text).toggleClass('active');
		
		e.preventDefault(); 
	
	});

	$('.show_full_trace').click(function(e)
	{
		
		exception_id = $(this).attr('rel');
		$('#full-trace-'+exception_id).toggle();
		
		e.preventDefault(); 

	});

</script>

{% endblock %}
