{% extends "base.html" %}
{% block breadcrumb %}
	Exceptions
{% endblock %}
{% block title %}
Exceptions
{% endblock %}
{% block content %}
<ul class="exceptions_list">
	{% for exc in exceptions  %}
	<li>
		<div class="heading">
			<span class="occurrences" title='Total occurrences'>
				{{ exc.total_occurrences }}
			</span>
			<div class="exception_info">
				<span class="date timestamp" title='{{ exc.last_occurrence|date }}'>{{ exc.last_occurrence }}</span>
					<span class="exception">
					{% if exc.exception_class  %}
						{{ exc.exception_class }} at
					{% endif %}
					{% if exc.url %}
						{{ exc.url }}
					{% endif %}
				</span>
				<a href="" class="collapse" title='Expand'></a>
			</div>
		</div>
		<ul class='exception_data'>
			{% if exc.backtrace %}
			<li>
				<h4>Backtrace:</h4>
				<p class='backtrace'>
				{% for line in exc.backtrace %}
					<span >{{ line }}</span>
				{% endfor %}
				</p>
			</li>	
			{% endif %}
		</ul>
		{% if exc.additional_data|test_additional_data %}
		<ul class='exception_data'>
			<h4>Additional data:</h4>
			{{ exc.additional_data.0|exceptions_dict }}
		</ul>
		{% endif %}
		</li>
	{% endfor %}
</ul>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$('.timestamp').relativeDate();
</script>

{% endblock %}
