{% extends "base.html" %}
{% block title %}
Logs 
{% endblock %}
{% block breadcrumb %}
Logs 
{% endblock %}
{% block filter %}
<form action="{{ base_url|url('logs') }}" method='get' id='logs_filter_form'>
<ul class='logs_filter'>
	<li>
		<input type="checkbox" name='level[]' value='notset' {% if 'notset' in level %} checked {% endif %}/> 
		<span class='notset'>notset</span>
	</li>
	<li>
		<input type="checkbox" name='level[]' value='info' {% if 'info' in level %} checked {% endif %}/> 
		<span class='info'>info</span>
	</li>
	<li>
		<input type="checkbox" name='level[]' value='warning' {% if 'warning' in level %} checked {% endif %}/> 
		<span class='warning'>warning</span>
	</li>
	<li>
		<input type="checkbox" name='level[]' value='debug' {% if 'debug' in level %} checked {% endif %}/>
		<span class='debug'>debug</span>
	</li>
	<li>
		<input type="text" id="filter" name="filter" placeholder="Filter" value="{% if filter != None %}{{ filter }}{% endif %}" />
	</li>
</ul>
</form>
{% endblock filter %}
{% block content %}
<ul class='log_list'>
	{% for log in logs  %}
	<li>
	<div class="heading">
		<span class='date timestamp' title='{{ log.time|date }}'>{{ log.time }}</span>
		<span class='level {{ log.level }}'>{{ log.level }}</span>
	</div>
	<p>
		{{ log.message }}
	</p>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
{% block js %}
<script type="text/javascript" src='/media/js/form2object.min.js'></script>
<script type="text/javascript">
	$('.timestamp').relativeDate();

	function submit_filter_form()
	{
		form_data = form2object('logs_filter_form', '.', true);
		console.log(form_data);

		$('.log_list').empty();
		var filter = $.post("/logs", form_data);
		
		filter.complete(function(data) { 
			$('.log_list').append(data.responseText);
			$('.timestamp').relativeDate();
		});
	}

	$(".logs_filter input[type=checkbox]").click(function()
	{
		submit_filter_form();
	});
	$('#filter').keyup(function(event) 
	{
		var value = $(this).val();
		if(value.length > 3)
		{
			submit_filter_form();
		}

		if(value.length == 0)
		{
			submit_filter_form();
		}

	});
</script>
{% endblock js %}
