{% extends "base.html" %}
{% block title %}
Events
{% endblock %}
{% block header %}
	<link rel="stylesheet" href="/media/css/chosen.css" />
{% endblock %}
{% block content %}
<form action="{{ base_url|url('logs') }}" method='get' id='logs_filter_form'>
<ul class='tabs'>
	{% if all_tags %}
    <li>
        <input type="checkbox" name='st' value='or' />
        <input type="checkbox" name='st' value='and' />
    </li>
	<li>
		<div class="input_background">
		<select id='tags-select' name='tags' style="width:350px;" tabindex="3" multiple="" data-placeholder="Select tag">
			{% for t in all_tags  %}
				<option {% if t.tag in tags %}selected="selected"{% endif %} value="{{ t.tag }}">{{ t.tag }}</option>
			{% endfor %}
		</select>
		</div>
		</li>
	{% endif %}
	<li >
		<div class="input_background">
		<input type="text" style="width:420px;" name="query" id="query" class='logs-search' placeholder="Search" value="{% if query != None %}{{ query }}{% endif %}" />
		</div>
	</li>
	<li class='logs_update_button'>
		<input type="submit" class="button update" value="Update" />
	</li>
</ul>
</form>
<ul class='log_list' id="log_list">
	{% for log in logs.result  %}
	<li>
	<div class="heading">
		<span class='date timestamp' title='{{ log.time|date_local }}'>{{ log.time }}</span>
		{% if log.tags %}
			{% if log.tags|is_str %}
				<span class='tag' title='{{ log.tags }}'>{{ log.tags }}</span>
			{% else %}
				{% for tag in log.tags  %}
					<span class='tag' title='{{ tag }}'>{{ tag }}</span>
				{% endfor %}
			{% endif %}
		{% endif %}
		{% if log.message|is_dict %}
			<a class='collapse' rel='{{ loop.index }}' href="#">Expand</a>
		{% endif %}
	</div>
	<pre class='log_content'><code id='code_block-{{ loop.index }}'>{{ log.message|beautify_json }}</code></pre>
	</li>
	{% endfor %}
</ul>
{% if logs.pages > 1 %}
<ul class='pagination'>
	{% if logs.current_page > 1 %}
	<li>
		<a class='previous' href="{{ base_url|url('logs')|query_dict({'tags': tags, 'query': query }, logs.current_page-1) }}" title='Previous page'></a>
	</li>

	{% endif %}
	<li>
		<input type="text" value="{{ logs.current_page }}" />
		<span class="total_pages">/ {{ logs.pages }}</span>
	</li>
	{% if logs.pages > logs.current_page %}
	<li>
	<a class='next' title='Next page' href="{{ base_url|url('logs')|query_dict({'tags': tags, 'query': query},logs.current_page+1) }}">
	</a>
	</li>
	{% endif %}
</ul>
{% endif %}
{% endblock content %}
{% block js %}
<script type="text/javascript" src='/media/js/spin.min.js'></script>
<script type="text/javascript" src='/media/js/chosen/chosen.jquery.min.js'></script>
<script type="text/javascript">

	$("#tags-select").chosen(); 	
	$('.timestamp').relativeDate();

	var opts = {
	  lines: 8, // The number of lines to draw
	  length: 7, // The length of each line
	  width: 4, // The line thickness
	  radius: 10, // The radius of the inner circle
	  color: '#D2D2D2', // #rgb or #rrggbb
	  speed: 1, // Rounds per second
	  trail: 60, // Afterglow percentage
	  shadow: false // Whether to render a shadow
	};
	var target = document.getElementById('log_list');
	var spinner = new Spinner(opts);

	$('.collapse').click(function(e){
		
		var log_id = $(this).attr('rel');
		var code_block = $('#code_block-'+log_id)
		var white_space = code_block.css('white-space');

		if(white_space == 'normal'){
			code_block.css('white-space', 'pre')
			$(this).html('Collapse')
		} else{
			code_block.css('white-space', 'normal')
			$(this).html('Expand')
		}
		
		e.preventDefault(); 
	});


	$("#logs_filter_form").submit(function()
    {
		// Check the query element
		query_val = $('#query').val();

		// Remove it from the form and submit
		if(query_val == ''){
			$('#query').attr('disabled', 'disabled');
		}

        return true; // ensure form still submits
    });
       
	$(".tag").click(function(e){
        $('#tags-select option[value="' + $(this).text() +'"]').attr('selected','selected');
        $('#tags-select').trigger('liszt:updated');
    });   

	
</script>
{% endblock js %}
