{% extends "base.html" %}
{% block title %}
Logs 
{% endblock %}

{% block breadcrumb %}
Logs 
{% endblock %}
{% block filter %}
<ul class='logs_filter'>
	<li>
		<input type="checkbox" /> 
		<span class='notset'>notset</span>
	</li>
	<li>
		<input type="checkbox" /> 
		<span class='info'>info</span>
	</li>
	<li>
		<input type="checkbox" /> 
		<span class='warning'>warning</span>
	</li>
	<li>
		<input type="checkbox" />
		<span class='debug'>debug</span>
	</li>
</ul>
{% endblock filter %}
{% block content %}
<ul class='log_list'>
	{% for log in logs  %}
	<li>
	<div class="heading">
		<span class='date timestamp' title='{{ log.time|date }}'>{{ log.time }}</span>
		<span class='level {{ log.level }}'>{{ log.level }}</span>
	</div>
	<p>
		{{ log.message }}
	</p>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
{% block js %}
<script type="text/javascript">
	$('.timestamp').relativeDate();
</script>
{% endblock js %}
