{% extends "base.html" %}

{% block breadcrumb %}
Node details >
Creativespace - 192.168.0.1

{% endblock %}
{% block content %}
<h2>Memory</h2>
<div class="chart" id="memory"></div>

<h2>Loadavg</h2>
<div class="chart" id="loadavg"></div>

<h2>CPU</h2>
<div class="chart" id="cpu"></div>

<h2>Network</h2>
{% for interface in network_interfaces %}
<div class="chart" id="network_{{ interface }}"></div>
{% endfor %}


<h2>Disk</h2>



<script type="text/javascript">
window.onload = function()
{
		var labels = [{% for label in labels %} '{{ label|time }}',  {% endfor %}];

		var memory = new Grafico.AreaGraph($('memory'),		
		{

		  total:  	[{% for  m in memory %} {{ m.memtotal }},  {% endfor %}],
		  free:  	[{% for  m in memory %} {{ m.memfree }},  {% endfor %}],
		  
		},
		{
		  colors :            { total: '#D2E4F0', free: '#F7D4D4' },
		  markers :           "value",
		  draw_axis :         true,
		  stroke_width :       3,
		  plot_padding :      0,
		  hover_text_color :  "#fff",
		  background_color :  "#fff",
		  datalabels: {
			free:    "free",
			total:  "total",
		  },
		  labels:  labels,
		});
		
		
		var loadavg = new Grafico.AreaGraph($('loadavg'),		
		{

		  minute:  	[{% for l in loadavg %} {{ l.minute }},  {% endfor %}],
		  five_minutes:  	[{% for  l in loadavg %} {{ l.five_minutes }},  {% endfor %}],
		  fifteen_minutes:  	[{% for  l in loadavg %} {{ l.fifteen_minutes }},  {% endfor %}],
		},
		{
		  colors :            { minute: '#D2E4F0', five_minutes: '#F7D4D4', fifteen_minutes: 'green' },
		  markers :           "value",
		  draw_axis :         true,
		  stroke_width :       3,
		  plot_padding :      0,
		  hover_text_color :  "#fff",
		  background_color :  "#fff",
		  datalabels: {
			minute:    "one minute",
			five_minutes:  "five minutes",
			fifteen_minutes:  "five minutes",
		  },
		  labels:  labels,
		});

		var cpu = new Grafico.AreaGraph($('cpu'),		
		{

		  idle:  	[{% for  c in cpu %} {{ c.idle }},  {% endfor %}],
		  user:  	[{% for  c in cpu %} {{ c.user }},  {% endfor %}],
		  system:  	[{% for  c in cpu %} {{ c.system }},  {% endfor %}],
		},
		{
		  colors :            { idle: '#D2E4F0', user: '#F7D4D4', system: 'green' },
		  markers :           "value",
		  draw_axis :         true,
		  stroke_width :       3,
		  plot_padding :      0,
		  hover_text_color :  "#fff",
		  background_color :  "#fff",
		  datalabels: {
			idle: "idle",
			user:  "user",
			system:  "system",
		  },
		  labels:  labels,
		});
		
		{% for interface  in network_interfaces  %}
		
		var network_{{ interface }} = new Grafico.AreaGraph($('network_{{ interface }}'),		
		{

		  idle:  	[{% for  c in cpu %} {{ c.idle }},  {% endfor %}],
		  user:  	[{% for  c in cpu %} {{ c.user }},  {% endfor %}],
		  system:  	[{% for  c in cpu %} {{ c.system }},  {% endfor %}],
		},
		{
		  colors :            { idle: '#D2E4F0', user: '#F7D4D4', system: 'green' },
		  markers :           "value",
		  draw_axis :         true,
		  stroke_width :       3,
		  plot_padding :      0,
		  hover_text_color :  "#fff",
		  background_color :  "#fff",
		  datalabels: {
			idle: "idle",
			user:  "user",
			system:  "system",
		  },
		  labels:  labels,
		});
	
		{% endfor %}
	

}
</script>


{% endblock %}


{% block js %}
<script type="text/javascript" src='/media/js/prototype.js'></script>
<script type="text/javascript" src='/media/js/raphael.js'></script>
<script type="text/javascript" src='/media/js/grafico.min.js'></script>
{% endblock %}
