{% extends "base.html" %}
{% block breadcrumb %}
Process check ({{ date_from|date }} / {{ date_to|date }})
{% endblock %}
{% block content %}
<form action=".">
<ul class='tabs'>
	<li>
		<a {% if active_tab == 'day' %}class='active'{% endif %} href="/processes">24 hours</a>
	</li>
	<li>
		<input type="text" name='date_from' id="date_from" />
	</li>
	<li>
		<input type="text" name='date_to' id="date_to" />
	</li>
	<li>
	<input type="submit" value="Get" />
	</li>
</ul>
</form>

{% for process in processes  %}
<h2>{{ process }}</h2>
<div class="chart" id="{{ process }}_cpu"></div>
<div class='legend'>

		<ul>
			<li>
				<span class="color one"></span>
				<span>CPU</span>
			</li>
		</ul>
</div>


<div class="chart" id="{{ process }}_memory"></div>
<div class='legend'>
		<ul>
			<li>
				<span class="color one"></span>
				<span>Memory</span>
			</li>
		</ul>
</div>
{% endfor %}

{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/jquery.flot.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script type="text/javascript">
	
	{% for process in process_data  %}
	var {{ process }}_cpu = []
	var {{ process }}_memory = []
		{% for data in process_data[process]  %}
		{{ process }}_cpu.push([{{ data.time * 1000 }}, {{ data.cpu }}])
		{{ process }}_memory.push([{{ data.time * 1000 }}, {{ data.memory }}])

		{% endfor %}


    $.plot($("#{{ process }}_cpu"),
           [{ data: {{ process }}_cpu, label: "CPU" }],
           { 
				xaxis: { mode: 'time',  timeformat: "%d/%m %H:%M" },
				yaxis: { min: 0, },
	
			});
	$.plot($("#{{ process }}_memory"),
           [{ data: {{ process }}_memory, label: "Memory" }],
           { 
				xaxis: { mode: 'time',  timeformat: "%d/%m %H:%M" },
				yaxis: { min: 0, },
	
			});

	{% endfor %}
	
var datetime_options = {
	separator: '-',
	dateFormat: 'dd-mm-yy',  
	timeFormat: 'hh:mm',
	hourGrid: 4,
	minuteGrid: 10

};
$('#date_from').datetimepicker(datetime_options);
$('#date_to').datetimepicker(datetime_options);
</script>

{% endblock %}
