{% extends "base.html" %}
{% block breadcrumb %}
Settings
{% endblock %}
{% block title %}
Settings
{% endblock %}
{% block content %}
{% if message %}
	<div class="message red">
		{{ message }}
	</div>
{% endif %}
<ul class='options_list'>
	<li>
		<span>Delete all exceptions</span>
		<a href="#" class='delete' data-reveal-id="delete_exceptions"  data-animation="fade" data-animationspeed="100">Delete</a>
	</li>
	<li>
		<span>Delete all logs</span>
		<a href="#" class='delete' data-reveal-id="delete_logs"  data-animation="fade" data-animationspeed="100">Delete</a>
	</li>
</ul>
<div id="delete_logs" class="reveal-modal">
     <h1>Delete all logs</h1>
     <p>Are you sure you want to delete all logs?</p>
	 <ul>
		<li>
			<a class='button delete' href="/settings/delete_logs">Delete</a>
		</li>
		<li>
			<a class='close-reveal-modal button cancel'>Cancel</a>
		</li>
	 </ul>
     <a class="close-reveal-modal top">&#215;</a>
</div>

<div id="delete_exceptions" class="reveal-modal">
     <h1>Delete all exceptions</h1>
     <p>Are you sure you want to delete all exceptions?</p>
	 <ul>
		<li>
			<a class='button delete' href="/settings/delete_exceptions">Delete</a>
		</li>
		<li>
			<a class='close-reveal-modal button cancel'>Cancel</a>
		</li>
	 </ul>
     <a class="close-reveal-modal top">&#215;</a>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/jquery.reveal.js'></script>
{% endblock %}
