{% extends "base.html" %}
{% block breadcrumb %}
{% endblock %}
{% block title %}
Settings
{% endblock %}
{% block content %}
{% if message %}
	<div class="message red">
		{{ message }}
	</div>
{% endif %}

<form action="{{ base_url|url('settings', 'delete-logs') }}" method="post" >
<h2>Logs</h2>
<ul class='settings_block'>
    <li>
        <span class='label'>Delete logs before: </span></li>
    <li>
        <input id="logs-date" name="logs-date" type="text" value="{{ max_date|date }}"/></li>
    <li>
		<a href="#" class='button delete' data-reveal-id="delete_logs"  data-animation="fade" data-animationspeed="100">Delete</a>
    </li>
</ul>
<div id="delete_logs" class="reveal-modal">
     <h1>Delete logs</h1>
     <p>Are you sure you want to delete all log entries before <span id="delete-logs-before">{{ max_date|date }} </span>?</p>
	 <ul>
		<li>
            <input type="submit"  class="button delete" value="Delete">
		</li>
		<li>
			<a class='close-reveal-modal button cancel'>Cancel</a>
		</li>
	 </ul>
     <a class="close-reveal-modal top">&#215;</a>
</div>
</form>

<form action="{{ base_url|url('settings', 'delete-exceptions') }}" method="post" >
<h2>Exceptions</h2>
<ul class='settings_block'>
    <li><span class='label'>Delete exceptions before: </span></li>
    <li><input id="exceptions-date" name="exceptions-date" type="text" value='{{ max_date|date }}' /></li>
    <li>
		<a href="#" class='button delete' data-reveal-id="delete_exceptions"  data-animation="fade" data-animationspeed="100">Delete</a>
    </li>
</ul>

<div id="delete_exceptions" class="reveal-modal">
     <h1>Delete exceptions</h1>
     <p>Are you sure you want delete all exceptions before <span id="delete-exceptions-before">{{ max_date|date }} </span> ?</p>
	 <ul>
		<li>
            <input type="submit" class="button delete" value="Delete">
		</li>
		<li>
			<a class='close-reveal-modal button cancel'>Cancel</a>
		</li>
	 </ul>
     <a class="close-reveal-modal top">&#215;</a>
</div>
</form>

<form action="{{ base_url|url('settings', 'change-password') }}" method="post" id="change-password-form">
<h2>User</h2>
<ul class='settings_block'>
    <li>
        <span class='label'>Change password: </span></li>
    <li>
        <input name="new-password" type="password" placeholder="New password" required="required" 
        data-message="Please fill out the password field"  />
        </li>
    <li>
        <input type="submit" name="change-password" class='button' value="Change">
    </li>
</ul>
</form>

{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script type="text/javascript" src='/media/js/jquery.reveal.js'></script>
<script type="text/javascript" src='/media/js/jquery.tools.min.js'></script>
<script type="text/javascript" charset="utf-8">
    
var datetime_options = {
	separator: '-',
	dateFormat: 'dd-mm-yy',  
	timeFormat: 'hh:mm',
	hourGrid: 2,
	minuteGrid: 10,
	maxDate: new Date({{ max_date*1000 }}),
};
$('#logs-date').datetimepicker(datetime_options).change(function() {
      var new_date = $(this).val();
      $('#delete-logs-before').html(new_date);
});
$('#exceptions-date').datetimepicker(datetime_options).change(function() {
      var new_date = $(this).val();
      $('#delete-exceptions-before').html(new_date);
});

$("#change-password-form").validator({messageClass: 'settings-error'});
</script>
{% endblock %}
