{% extends "base.html" %}
{% block title %}
System check
{% endblock %}
{% block breadcrumb %}
System check 
{% endblock %}
{% block header %}
	<link rel="stylesheet" href="/media/css/chosen.css" />
{% endblock %}
{% block content %}
<form action="{{ base_url|url('system') }}">
<ul class='tabs'>
	<li>
		<label for="">Select charts:</label>
		<div class="input_background system-charts-dropdown">
		<select id='charts-select' name='charts' style="width:220px;" tabindex="3" multiple="" data-placeholder="Select charts">
			<option {% if 'memory' in charts %}selected="selected"{% endif %} value="memory">Memory</option>
			<option {% if 'cpu' in charts %}selected='selected' {% endif %} value="cpu">CPU</option>
			<option {% if 'loadavg' in charts %}selected='selected' {% endif %} value="loadavg">Load Average</option>
			<option {% if 'network' in charts %}selected='selected' {% endif %} value="network">Network</option>
			<option {% if 'disk' in charts %}selected='selected' {% endif %} value="disk">Disk</option>
		</select>
		</div>
	</li>
	<li>
		<label for="">From:</label>
		<div class="input_background">
			<input type="text" name='date_from' id="date_from" value="{{ date_from|date }}" />
		</div>
	</li>
	<li>
		<label for="">To:</label>
		<div class="input_background">
			<input type="text" name='date_to' id="date_to" value='{{ date_to|date }}' />
		</div>
	</li>
	<li class='with_button'>
		<input type="submit" class="button update" value="Update" />
	</li>
</ul>
</form>

{% if 'memory' in active_checks %}

<h2>Memory</h2>
<div class='legend'>
	<ul>
		<li>
			<span class="color one"></span>
			<span>Total memory</span>
		</li>
		<li>
		<span class="color two"><!-- --></span>
			<span class='last'>Used memory</span>
		</li>
	</ul>
</div>
<div class="chart" id="memory"></div>
{% endif %}

{% if 'loadavg' in active_checks %}
<h2>Loadavg</h2>
<div class='legend'>
	<ul>
		<li>
			<span class="color one"></span>
			<span>1 minute</span>
		</li>
		<li>
		<span class="color two"><!-- --></span>
			<span>5 minutes</span>
		</li>
		<li>
			<span class="color three"><!-- --></span>
			<span class='last'>15 minutes</span>
		</li>
	</ul>
</div>
<div class="chart" id="loadavg"></div>
{% endif %}

{% if 'cpu' in active_checks %}
<h2>CPU</h2>
<div class='legend'>
		<ul>
			<li>
				<span class="color one"></span>
				<span>Idle</span>
			</li>
			<li>
			<span class="color two"><!-- --></span>
				<span>System</span>
			</li>
			<li>
				<span class="color three"><!-- --></span>
				<span class='last'>User</span>
			</li>
		</ul>
</div>

<div class="chart" id="cpu"></div>
{% endif %}



{% if 'network' in active_checks %}

{% if network_interfaces %}
<h2>Network</h2>
	{% for interface in network_interfaces %}
	{% if interface != 'lo' %}
		<h3>{{ interface }}</h3>
		<div class='legend'>
			<ul>
				<li>
					<span class="color one"></span>
					<span>Recieved</span>
				</li>
				<li>
				<span class="color two"><!-- --></span>
					<span class='last'>Transfered</span>
				</li>
			</ul>
		</div>
		<div class="chart" id="network_{{ interface }}"></div>
	{% endif %}
	{% endfor %}
	{% endif %}
{% endif %}

{% if 'disk' in active_checks %}
	<h2>Disk</h2>
	{% for volume in volumes  %}
	<h3>{{ volume }}</h3>
	<div class='legend'>
		<ul>
			<li>
				<span class="color one"></span>
				<span>Total</span>
			</li>
			<li>
			<span class="color two"><!-- --></span>
				<span class='last'>Used</span>
			</li>
		</ul>
	</div>
	<div class="chart" id="disk_{{ volume|clean_slashes  }}"></div>
	{% endfor %}
{% endif %}

{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/jquery.flot.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script type="text/javascript" src='/media/js/chosen/chosen.jquery.min.js'></script>
<script language="javascript" type="text/javascript">
$(function () 
{


	var xaxis =  { mode: 'time',  timeformat: "%d/%m %H:%M" };

	{% if 'memory' in active_checks %}
	
	var memory_used = [{% for m in checks.memory.clone() %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (m.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (m.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    
    {% if not m.last %} {{ m.memtotal-m.memfree }} {% else %} 0 {% endif %}],
	{% endfor %} ]
	
    var memory_total = [{% for m in checks.memory.clone() %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (m.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (m.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    
    {% if not m.last %} {{ m.memtotal }} {% else %} 0 {% endif %}],
	{% endfor %} ]
	
	var memory_legend = $('#memory_legend');

    $.plot($("#memory"),
           [	{ data: memory_total, label: "Total memory" },
				{ data: memory_used, label: "Used memory"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0, tickFormatter: function (v) { return v + " MB"; }  },
			});

	{% endif %}
	
	{% if 'loadavg' in active_checks %}
	
	var loadavg_minute = [{% for l in checks.loadavg.clone() %}
    
    {% if zone_difference.0 == 'negative' %}
	[{{ (l.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (l.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    
    {% if not l.last %} {{ l.minute }} {% else %} 0 {% endif %} ],
	{% endfor %} ]

	var loadavg_five_minutes = [{% for l in checks.loadavg.clone() %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (l.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (l.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    
    {% if not l.last %} {{ l.five_minutes }} {% else %} 0 {% endif %}],
	{% endfor %}]

	var loadavg_fifteen_minutes = [{% for l in checks.loadavg  %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (l.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (l.time - zone_difference.1 ) * 1000 }},
    {% endif %}
        
        {% if not l.last %} {{ l.fifteen_minutes }} {% else %} 0 {% endif %}],
	{% endfor %}]
	
	
	var loadavg_legend = $('#loadavg_legend');

    $.plot($("#loadavg"),
           [	{ data: loadavg_minute, label: "One minute" },

				{ data: loadavg_five_minutes, label: "Five minutes"  },
				{ data: loadavg_fifteen_minutes, label: "Fifteen minutes"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 },
			});

	{% endif %}
	
	{% if 'cpu' in active_checks %}
	
	var cpu_idle = [{% for c in checks.cpu.clone()  %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (c.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (c.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    
    {% if not c.last %} {{ c.idle }} {% else %} 0 {% endif %} ],
	{% endfor %}]

	var cpu_user = [{% for c in checks.cpu.clone()  %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (c.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (c.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    
    {% if not c.last %} {{ c.user }} {% else %} 0 {% endif %} ],
	{% endfor %}]
	
    var cpu_system = [{% for c in checks.cpu  %}
    {% if zone_difference.0 == 'negative' %}
	[{{ (c.time + zone_difference.1 ) * 1000 }},
    {% else %}
	[{{ (c.time - zone_difference.1 ) * 1000 }},
    {% endif %}
    {% if not c.last %} {{ c.system }} {% else %} 0 {% endif %} ],
	{% endfor %}]
	var cpu_legend = $('#cpu_legend');

    $.plot($("#cpu"),
           [	{ data: cpu_idle, label: "Idle" },
				{ data: cpu_user, label: "User"  },
				{ data: cpu_system, label: "System"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0, tickFormatter: function (v) { return v + " %"; }    },
	
			});

	{% endif %}
	
	{% if 'network' in active_checks %}
	
	
	{% for interface  in network_interfaces  %}
		
		var network_recieved_{{ interface }} =   [
						{% for n in checks.network.clone() %}
							[ {% if zone_difference.0 == 'negative' %}
                            {{ (n.time + zone_difference.1 ) * 1000 }},
                            {% else %}
                            {{ (n.time - zone_difference.1 ) * 1000 }},
                            {% endif %}
                            
                            {%if n[interface] %} {{ n[interface].kb_received }} {% endif %} ] , 
						{% endfor %}];
		var network_transfered_{{ interface }} = [
						{% for n in checks.network.clone() %} 
							[ {% if zone_difference.0 == 'negative' %}
                            {{ (n.time + zone_difference.1 ) * 1000 }},
                            {% else %}
                            {{ (n.time - zone_difference.1 ) * 1000 }},
                            {% endif %}
                            
                            {% if n[interface] %}  {{ n[interface].kb_transmitted }} {% endif %} ] ,
						{% endfor %}];
	
		$.plot($("#network_{{ interface }}"),
			[	
				{ data: network_recieved_{{ interface }}, label: "Recieved" },
				{ data: network_transfered_{{ interface }}, label: "Transfered"  },
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0, tickFormatter: function (v) { return v.toFixed(2) + " kb"; }  },
	
			});
	{% endfor %}
	{% endif %} {# network #}


	{% if 'disk' in active_checks %}
	
	{% for volume in volumes  %}
	
	var disk_total_{{ volume|clean_slashes  }} =	[
					{% for  d in disk %} [ 
						    {% if zone_difference.0 == 'negative' %}
                            {{ (d.time + zone_difference.1 ) * 1000 }},
                            {% else %}
                            {{ (d.time - zone_difference.1 ) * 1000 }},
                            {% endif %}

                        {% if d[volume] %}  {{ d[volume].total|to_int }}  {% endif %}    ],  
					{% endfor %}];
	var disk_used_{{ volume|clean_slashes }} = [
				{% for  d in disk %}
					[ 
                        {% if zone_difference.0 == 'negative' %}
                        {{ (d.time + zone_difference.1 ) * 1000 }},
                        {% else %}
                        {{ (d.time - zone_difference.1 ) * 1000 }},
                        {% endif %}
                        
                        {% if d[volume] %} {{ d[volume].used|to_int }} {% endif %} ],
				{% endfor %}];


	$.plot($("#disk_{{ volume|clean_slashes }}"),
			[	
				{ data: disk_total_{{ volume|clean_slashes }}, label: "Total" },
				{ data: disk_used_{{ volume|clean_slashes }}, label: "Used"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 , tickFormatter: function (v) { return v.toFixed(2) + " GB"; }   },
			});
	{% endfor %}

	{% endif %}

});
var datetime_options = {
	separator: '-',
	dateFormat: 'dd-mm-yy',  
	timeFormat: 'hh:mm',
	hourGrid: 2,
	minuteGrid: 10,
	maxDate: new Date({{ max_date*1000 }}),
    minDate: new Date({{ first_check_date*1000 }})
};
$('#date_from').datetimepicker(datetime_options);
$('#date_to').datetimepicker(datetime_options);
$("#charts-select").chosen(); 	
</script>
{% endblock %}


