{% extends "base.html" %}
{% block title %}
System check
{% endblock %}
{% block breadcrumb %}
System check 
{% endblock %}
{% block content %}
<form action="{{ base_url|url('system') }}">
<ul class='tabs'>
	<li>
		<label for="">From:</label>
		<input type="text" name='date_from' id="date_from" value="{{ date_from|date }}" />
	</li>
	<li>
		<label for="">To:</label>
		<input type="text" name='date_to' id="date_to" value='{{ date_to|date }}' />
	</li>
	<li>
	<input type="submit" value="Update" />
	</li>
</ul>
</form>
<h2>Memory</h2>
<div class='legend'>
	<ul>
		<li>
			<span class="color one"></span>
			<span>Total memory</span>
		</li>
		<li>
		<span class="color two"><!-- --></span>
			<span class='last'>Free memory</span>
		</li>
	</ul>
</div>
<div class="chart" id="memory"></div>

<h2>Loadavg</h2>
<div class='legend'>
	<ul>
		<li>
			<span class="color one"></span>
			<span>1 minute</span>
		</li>
		<li>
		<span class="color two"><!-- --></span>
			<span>5 minutes</span>
		</li>
		<li>
			<span class="color three"><!-- --></span>
			<span class='last'>15 minutes</span>
		</li>
	</ul>
</div>
<div class="chart" id="loadavg"></div>


<h2>CPU</h2>
<div class='legend'>
		<ul>
			<li>
				<span class="color one"></span>
				<span>Idle</span>
			</li>
			<li>
			<span class="color two"><!-- --></span>
				<span>System</span>
			</li>
			<li>
				<span class="color three"><!-- --></span>
				<span class='last'>User</span>
			</li>
		</ul>
</div>

<div class="chart" id="cpu"></div>



<h2>Network</h2>
{% for interface in network_interfaces %}
{% if interface != 'lo' %}
	<h3>{{ interface }}</h3>
	<div class='legend'>
		<ul>
			<li>
				<span class="color one"></span>
				<span>Recieved</span>
			</li>
			<li>
			<span class="color two"><!-- --></span>
				<span class='last'>Transfered</span>
			</li>
		</ul>
	</div>
	<div class="chart" id="network_{{ interface }}"></div>
{% endif %}
{% endfor %}

<h2>Disk</h2>
{% for volume in volumes  %}
	<h3>{{ volume }}</h3>
	<div class='legend'>
		<ul>
			<li>
				<span class="color one"></span>
				<span>Total</span>
			</li>
			<li>
			<span class="color two"><!-- --></span>
				<span class='last'>Free</span>
			</li>
		</ul>
	</div>
	<div class="chart" id="disk_{{ volume|replace('/','_')  }}"></div>
	{% endfor %}

{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/jquery.flot.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/media/js/jquery-ui-timepicker-addon.js'></script>
<script language="javascript" type="text/javascript">
$(function () 
{

	var xaxis =  { mode: 'time',  timeformat: "%d/%m %H:%M" };

	var memory_free = []
	var memory_total = []
	{% for m in checks.memory %}
		memory_free.push([{{ m.time * 1000 }}, {% if not m.last %} {{ m.memfree }} {% else %} 0 {% endif %} ])
		memory_total.push([{{ m.time * 1000 }}, {% if not m.last %} {{ m.memtotal }} {% else %} 0 {% endif %} ])
	{% endfor %}
	var memory_legend = $('#memory_legend');

    $.plot($("#memory"),
           [	{ data: memory_total, label: "Total memory" },
				{ data: memory_free, label: "Free memory"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 },
			});


	var loadavg_minute = []
	var loadavg_five_minutes = []
	var loadavg_fifteen_minutes = []
	{% for l in checks.loadavg  %}
		loadavg_minute.push([{{ l.time * 1000 }}, {% if not l.last %} {{ l.minute }} {% else %} 0 {% endif %} ])
		loadavg_five_minutes.push([{{ l.time * 1000 }}, {% if not l.last %} {{ l.five_minutes }} {% else %} 0 {% endif %}])
		loadavg_fifteen_minutes.push([{{ l.time * 1000 }}, {% if not l.last %} {{ l.fifteen_minutes }} {% else %} 0 {% endif %} ])
	{% endfor %}
	
	
	var loadavg_legend = $('#loadavg_legend');

    $.plot($("#loadavg"),
           [	{ data: loadavg_minute, label: "One minute" },

				{ data: loadavg_five_minutes, label: "Five minutes"  },
				{ data: loadavg_fifteen_minutes, label: "Fifteen minutes"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 },
			});


	var cpu_idle = []
	var cpu_user = []
	var cpu_system = []
	{% for c in checks.cpu  %}
		cpu_idle.push([{{ c.time * 1000 }}, {% if not c.last %} {{ c.idle }} {% else %} 0 {% endif %} ])
		cpu_user.push([{{ c.time * 1000 }}, {% if not c.last %} {{ c.user }} {% else %} 0 {% endif %} ])
		cpu_system.push([{{ c.time * 1000 }}, {% if not c.last %} {{ c.system }} {% else %} 0 {% endif %} ])
	{% endfor %}
	var cpu_legend = $('#cpu_legend');

    $.plot($("#cpu"),
           [	{ data: cpu_idle, label: "Idle" },
				{ data: cpu_user, label: "User"  },
				{ data: cpu_system, label: "System"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 },
	
			});

	{% for interface  in network_interfaces  %}
		
		var network_recieved_{{ interface }} =   [
						{% for n in network %}
							[ {{ n.time * 1000 }}, {%if n[interface] %} {{ n[interface].recv_bytes }} {% endif %} ] , 
						{% endfor %}];
		var network_transfered_{{ interface }} = [
						{% for n in network %} 
							[ {{ n.time * 1000 }}, {% if n[interface] %}  {{ n[interface].trans_bytes }} {% endif %} ] ,
						{% endfor %}];
	
		$.plot($("#network_{{ interface }}"),
			[	
				{ data: network_recieved_{{ interface }}, label: "Recieved" },
				{ data: network_transfered_{{ interface }}, label: "Transfered"  },
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 },
	
			});
	{% endfor %}


	{% for volume in volumes  %}
	
	var disk_total_{{ volume|replace('/','_')  }} =	[
					{% for  d in disk %} [ 
						{{ d.time * 1000 }}, {% if d[volume] %}  {{ d[volume].total|to_int }}  {% endif %}    ],  
					{% endfor %}];
	var disk_free_{{ volume|replace('/','_') }} = [
				{% for  d in disk %}
					[ {{ d.time * 1000 }}, {% if d[volume] %} {{ d[volume].free|to_int }} {% endif %} ],
				{% endfor %}];


	$.plot($("#disk_{{ volume|replace('/','_') }}"),
			[	
				{ data: disk_total_{{ volume|replace('/','_') }}, label: "Total" },
				{ data: disk_free_{{ volume|replace('/','_') }}, label: "Free"  }
		   ],
           { 
				xaxis: xaxis,
				yaxis: { min: 0 },
			});
	{% endfor %}



});
var datetime_options = {
	separator: '-',
	dateFormat: 'dd-mm-yy',  
	timeFormat: 'hh:mm',
	hourGrid: 4,
	minuteGrid: 10,
	maxDate: new Date(),
	minDate: new Date({{ start_date.time|date_to_js }}),

};
$('#date_from').datetimepicker(datetime_options);
$('#date_to').datetimepicker(datetime_options);

</script>
{% endblock %}


