{% extends "base.html" %}

{% block breadcrumb %}
System details > 127.0.0.1 ( localhost )

{% endblock %}
{% block content %}
<h2>Memory</h2>
<div class="chart" id="memory"></div>
<script language="javascript" type="text/javascript">
$(function () 
{
var memory_total = [{% for m in memory %} [ {{ m.time * 1000 }}, {{ m.memtotal }}], {% endfor %}];
var memory_free = [{% for m in memory %} [ {{ m.time * 1000 }}, {{ m.memfree }}], {% endfor %}];

    $.plot($("#memory"),
           [	{ data: memory_total, label: "Total memory" },
				{ data: memory_free, label: "Free memory"  }
		   ],
           { 
				xaxis: { mode: 'time' },
				yaxis: { min: 0 },
			});
	
});
</script>
{% endblock %}



{% block header %}
<script type="text/javascript" src='/media/js/jquery-1.5.1.min.js'></script>
<script type="text/javascript" src='/media/js/jquery.flot.js'></script>
{% endblock %}
