<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.amon.amond</string>
  <key>ProgramArguments</key>
  <array>
	  <string>/usr/bin/python</string>
  <string>/usr/local/amon/amond</string>
    <string>start</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>/usr/local/amon</string>
 <key>StandardErrorPath</key>
  <string>/usr/local/amon/launchctl_output.log</string>
  <key>StandardOutPath</key>
  <string>/usr/local/amon/launchctl_output.log</string>
</dict>
</plist>
