[
	"/usr/local/bin/check-disk-usage.rb",
	"/usr/local/bin/check-https-cert.rb -u https://www.amon.cx",
	"/usr/local/bin/check-ping.rb -h amon.cx",
	"/usr/local/bin/check-ports.rb -p 22,80",
	"/usr/local/bin/check-threads-count.rb"
]