{% extends "base.html" %}
{% block breadcrumb %}
<li><a href="{{ base_url|url('alerts') }}">Alerts</a></li>
<li class='separator'></li>
<li>System alert</li>
{% endblock %}
{% block content_class %}class="alert-settings"{% endblock content_class %}
{% block title %}
Alerts - Edit System alert
{% endblock %}
{% block content %}

<div class="settings_content">
<form action="{{ base_url|url('alerts','edit', 'server') }}/{{ alert._id }}" method='post'>
	<ul class="settings-list-horizontal">
		<li class='title'>
			<h3>Edit System alert</h3>
		</li>
	<li>
		<span class="label">Metric</span>
		 <select class="metric_select medium_dropdown" name="metric" tabindex="3" data-placeholder="Select metric">
			<option value=""></option>
			{% for key, metric in server_metrics.iteritems() %}
				<option {% if alert.metric==metric|string %}selected="selected"{% endif %} value="{{ metric }}">
				{{ metric }}
				</option>
			{% endfor %} 
			</select>
		 {% if errors.metric %}
			<span class="error">
			{{ errors.metric }}
			</span>
		{% endif %}

	</li>
	<li class='metric_options_list'>
		<span class="label">Select metric</span>
		<div class="input_background">
		<select id="metric_options" name="metric_options" class='medium_dropdown'>
			<option value=""></option>
		</select>
		</div>
	</li>
	<li class='small-dropdown'>
		<span class="label">Is</span>
		<select class="small_dropdown" id="above_below" name="above_below" tabindex="3">
			<option {% if alert.above_below=='above' %}selected="selected"{% endif %} value='above'>Above</option>
			<option  {% if alert.above_below=='below' %}selected="selected"{% endif %} value='below'>Below</option>
		</select>
		<input type="text" id="metric_value" class='required' name="metric_value" {% if alert.metric_value %}
		value="{{ alert.metric_value }}" {% endif %}/>
	
		 <select class="small_dropdown" id="metric_type" name="metric_type">
			{% for metric in common_metrics %}
			 	<option {% if alert.metric_type==metric %}selected="selected"{% endif %} value='{{ metric }}'>{{ metric }}</option>
			{% endfor %}
		</select>
		{% if errors.metric_value %}
			<span class="error">
			{{ errors.metric_value }}
			</span>
		{% endif %}

	</li>
	<li>
		<span class="label">Notify after</span>
		<input type="input" value="{{ alert.threshold }}" name="threshold" id="threshold">
		<div class="slider" id="threshold-slider"></div>
		<span class='occurences'>occurrences</span>
	</li>
	<li class='title'>
			<h4>Send alert to</h4>
	</li>
	<li class='alert-recepients-dropdown'>
		<span class="label">Email</span>
		<input type="hidden" id="email-select" name="email">
	</li>
	 <li class='alert-recepients-dropdown'>
		<span class="label">SMS</span>
		<input type="hidden" id="sms-select" name="sms">
	</li>
	 <li class='buttons-alerts'>
		{{ app.xsrf }}
		<input type="submit" class='button' value="Update" />
	</li>
	</ul>
	</form> 
</div> <!-- settings_content end -->
{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/libs/jquery-ui-1.9.2.custom.min.js'></script>
<script type="text/javascript" src='/media/js/libs/backbone-min.js'></script>
<script type="text/javascript" src='/media/js/libs/select2/select2.min.js'></script>
<script type="text/html" id="options_template">
<% _.each(elements, function(name) { %>
	<option value='<%= name %>'><%= name %></option>
<% }); %>
</script>
<script type="text/html" id="options_dict_template">
<% _.each(elements, function(key, value) { %>
	<option value='<%= value %>'><%= key %></option>
<% }); %>
</script>
<script type="text/javascript">
$(document).ready(function() {
	 _.templateSettings = window.undescore_settings;
	
	var volumes = [{% for volume in server.volumes %}"{{ volume }}",{% endfor %}];

	function set_metric_options(array_with_values, option)
	{

		var template = $('#options_template').text();
		// Check if the value is array ['a','b'] or json {'a': 1, 'b':1}
		if(!$.isArray(array_with_values))
		{
			var template = $('#options_dict_template').text();
		}

		$('.metric_options_list')
		.show()
		.find('.label').html(option);

		metric_options = _.template(template, {elements : array_with_values});
		$('#metric_options')
		.show()
		.attr('data-placeholder',option)
		.removeClass('chzn-done')
		.empty()
		.html(metric_options)
		.select2({width: "200", minimumResultsForSearch: 100});
		$('#metric_options').select2('val',"{{ alert.metric_options}}")
	}

	function clear_metric_options()
	{
		$('#metric_options')
		.empty()
		.hide();
		$('#metric_options_chzn').remove();
		$('.metric_options_list').hide();

	}
	

	function set_metric_type(value)
	{
			clear_metric_options();
			_elements = ['%','MB','GB']

			if(value == 'CPU'){ 
				_elements = ['%']
			}
			if(value == 'Memory'){ 
				_elements = ['%','MB']
			}
			if(value == 'Disk'){ 
				_elements = ['%','MB', 'GB']
				set_metric_options(volumes, 'Disks');

			}
			if(value == 'Loadavg'){ 
				_elements = []
					loadavg = {"minute": "1 minute",
							   "five_minutes": "5 minutes",
							   "fifteen_minutes": "15 minutes"
					}

					set_metric_options(loadavg, 'Period');
			}
			
			metric_type = _.template($('#options_template').text(), {elements : _elements});
			$('#metric_type').html(metric_type).trigger("change");

			if(_.isEmpty(_elements)) {
				 $("#metric_type").select2('disable');
			}
			else {
				 $("#metric_type").select2('enable');
			}

	}

	 $('#metric_type').select2({width: "108", minimumResultsForSearch: 100});

	 $('#above_below').select2({width: "200", minimumResultsForSearch: 100});
	 $("#email-select").select2({
	 	placeholder: 'Select recepients',
	 	width: "395", 
	 	minimumResultsForSearch: 100,
		tags: [
			{% for r in email_recepients %}
			{'id': '{{ r._id }}', 'text':'{{ r.name }}({{ r.email }})'}, 
			{% endfor %}
		]
		})
		.select2("val", [{% for r in alert.email_recepients %}"{{ r }}", {% endfor %}]);

	 $("#sms-select").select2({
	 	placeholder: 'Select recepients',
	 	width: "395", 
	 	minimumResultsForSearch: 100,
		tags: [
			{% for r in sms_recepients %}
			{'id': '{{ r._id }}', 'text':'{{ r.name }}({{ r.phone }})'}, 
			{% endfor %}
		]
		})
		.select2("val", [{% for r in alert.sms_recepients %}"{{ r }}", {% endfor %}]);


	$(".metric_select").select2({width: "200", minimumResultsForSearch: 100});

	var metric_select = $(".metric_select").select2("val");
	set_metric_type(metric_select);
	$('#metric_type').select2('val', "{{ alert.metric_type }}");

	$(".metric_select").select2('disable');

	 $("#threshold-slider").slider({
			range: "min",
			value: {{ alert.threshold }},
			min: 1,
			max: 100,
			slide: function(event, ui) {
				$(".threshold-value").html(ui.value);
				$("#threshold").val(ui.value);
			}
	});

});
</script>

{% endblock %}
