{% extends "base.html" %}

{% block breadcrumb %}
Dashboard
{% endblock %}
{% block content %}
<h2>Creativespace - 192.168.0.1</h2>
<table>
		<tr class="thead">
			<td class="status">
				status
			</td>
			<td  class="overview">
				overview
			</td>
			<td class="check"> 
				last check
			</td>
			<td class="details">
				details
			</td>
		</tr>
		<tr class="tbody">
			<td class="status">
				<span class="ok">OK</span>
			</td>
			<td class="overview">
				cpu
			</td>
			<td class="check">
				10m
			</td>
			<td class="details">
			test
			</td>
		
		</tr>
	


</table>
{% endblock %}
