{% extends "base.html" %}
{% block breadcrumb %}
<li class='first'>Settings</li>
<li class='separator'></li>
<li ><a href="{{ base_url|url('settings','sms') }}">SMS</a></li>
{% endblock %}
{% block title %}
Settings - SMS
{% endblock %}
{% block content %}
<div class="settings_content">
<form action="{{ base_url|url('settings','sms','recepients', 'edit') }}/{{ recepient._id }}" method='post'>
<h3>Edit recepient</h3>
<ul class='settings-list-horizontal'>
 <li>
		<span class="label">Name</span>
		<input type="text" id="name" name='name' value='{% if form_data.name %}{{ form_data.name }}{% else %}{{ recepient.name }}{% endif %}'/>
		 {% if errors.name %}
			<span class="error">
			{{ errors.name }}
			</span>
		{% endif %}
	</li>
	<li>
		<span class="label">Phone</span>
		<input type="text" id="phone" name='phone' value='{% if form_data.phone %}{{ form_data.phone }}{% else %}{{ recepient.phone }}{% endif %}' />
		 {% if errors.phone %}
			<span class="error">
			{{ errors.phone }}
			</span>
		{% endif %}
	</li> 
<li class='buttons'>
		{{ app.xsrf }}
		<input type="submit" class='button' value='Save' /> 
	</li>
</ul>
</form>
</div> <!-- settings_content end -->
{% endblock %}