{% extends "base.html" %}
{% block breadcrumb %}
<li class='first'>Settings</li>
<li class='separator'></li>
<li ><a href="{{ base_url|url('settings','sms') }}">SMS</a></li>
{% endblock %}
{% block title %}
Settings / SMS
{% endblock %}
{% block content_class %}class="sms-test"{% endblock content_class %}

{% block content %}
<div class="settings_content">
<form action="{{ base_url|url('settings','sms','test') }}" data-url="{{ base_url|url('settings','sms','test') }}" id="test-sms-form" method='post'>
<h3>Send Test SMS</h3>
<ul class="settings-list-horizontal">
	<li class='width-auto'>
		<span class="label">Select recepient</span>
		<select id='recepient-select' name='recepient' style="width:300px;" tabindex="3" data-placeholder="All">
			{% for recepient in recepients  %}
				<option value="{{ recepient._id }}">{{ recepient.name }} ({{ recepient.phone }})</option>
			{% endfor %}
		</select>
	</li>
	 <li class='no-clear'>
		{{ app.xsrf }}
        <input type="submit" class='button' value="Send" />
    </li>
    </ul>
</form>
</div> <!-- settings_content end -->
{% endblock %}
{% block js %}
<script type="text/javascript" src='/media/js/libs/backbone-min.js'></script>
<script type="text/javascript" src='/media/js/libs/select2/select2.min.js'></script>
<script type="text/javascript" src='/media/js/libs/form2object.js'></script>
<script type="text/javascript" src='/media/js/settings.sms.test.js'></script>
{% endblock js %}
