html {
  height: 100%; }

body {
  font-size: 62.5%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif; }

p {
  font-size: 1.4em;
  line-height: 1.6em;
  float: left;
  clear: left;
  padding: 20px; }
#breadcrumb ul li {
	color: red;
}