<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="/media/css/login.css" />
</head>
<body>
	<div id="header">
		<a href="/">
		<img class='logo' src="/media/images/logo.png" alt="" />
		</a>
	</div>
	
	<div class="center">
		<div class="login_box">
		{% if errors %}
			<div class="message red">
				{{ errors }}
			</div>
		{% endif %}
			<form action="{{ base_url|url('login') }}" method='post'>
			<ul>
				<li>
					<span class="batch icon" data-icon="&#xF170;"></span>
					<input name="username" type="text" placeholder='Username' />
				</li>
				<li>
					<span class="batch icon" data-icon="&#xF0C0;"></span>
					<input name="password" type="password" placeholder='Password' />
				</li>
				<li class='last'>
					{% if next %}
						<input type="hidden" name='next' value="{{ next }}" />
					{% endif %}	
					<input type="submit" value="Login" class='button' />
				</li>
			</ul>
			</form>
		</div>
	
	</div>
	
</body>
</html>
