{% extends "base.html" %}
{% block title %}Settings - Data{% endblock title %}
{% block breadcrumb %}
    {% include "settings/_topbar.html" %}
{% endblock breadcrumb %}
{% block main_content_class %}center{% endblock main_content_class %}
{% block content %}
<form method="post" action="{% url 'settings_email_test' %}">
<ul class="settings-list-form">
    {{ form.as_ul }}
    
    <li class='buttons'>
        {% csrf_token %}
        <a class='margin-right' href="{% url 'settings_email' %}">Back</a>
        <input type="submit" class="button" value="Test">
    </li>
    
</ul>
</form>
{% endblock %}