{% extends "base.html" %}
{% block title %}Settings - Data{% endblock title %}
{% block breadcrumb %}
    {% include "settings/_topbar.html" %}
{% endblock breadcrumb %}
{% block main_content_class %}center{% endblock main_content_class %}
{% block content %}


<form method="post" action="{% url 'settings_email' %}" autocomplete="off">
<ul class="settings-list-form">
    
        
    <li><span class="info">Your SMTP settings have been defined in /etc/opt/amon.yml 
    To send a test Email, please press the <strong>Test</strong> button below</span></li>

    {% if not smtp_settings %}
    {% for field in form %}
        {% if field.field|fieldtype == 'booleanfield' %}
          <li class='checkbox_right'>{{ field }}{{ field.label_tag }}</li>
        {% else %}
            <li>
          {{ field.label_tag }}{{ field }}
          </li>
        {% endif %}
    {% endfor %}
    
    <li class='buttons'>
        {% csrf_token %}
        <input type="submit" class='button blue' value="Test" name="test">
        <input type="submit" class="button" value="Save">
    </li>

    {% else %}
        <li><a class='button' href="{% url 'settings_email_test' %}">Test</a></li>
    {% endif %}
    
</ul>
</form>
{% endblock %}