{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block breadcrumb %}
    {% include "settings/_topbar.html" %}
{% endblock breadcrumb %}
{% block main_content_class %}center{% endblock main_content_class %}
{% block content %}
<div class="settings__content">
<p class="settings__content__desc">
    Change your password
</p>
<form action="{% url 'change_password' %}" method='post'>
    <ul class="settings-list-form">
        {% if form.current_password  %}
        
        <li>
            <span class="label">Current</span>
            {{ form.current_password }}
            {{ form.current_password.errors }}
        </li>
        {% endif %}
        <li>
            <span class="label">New</span>
            {{ form.new_password }}
            {{ form.new_password.errors }}
        </li>
        <li class='buttons'>
        {% csrf_token %}
        <a class='margin-right' href="{% url 'view_profile' %}">Back</a>
        <input class='button' type='submit' value="Change">
        
    </li>
    </ul>
</form>

</div><!-- profile content -->
{% endblock content %}
{% block js %}

{% endblock %}