{% extends "account/authbase.html" %}
{% block title %}Forgotten Password{% endblock title %}

{% block content %}

{% if messages %}
<ul class="message info">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'forgotten_password' %}" method='post'>
    <ul>
        <li><h3>Reset Forgotten Password</h3></li>
        {% if form.errors %}
            <li class='error'>{{ form.non_field_errors }}</li>
        {% endif %}
        <li class="label"><label for="">Email</label></li>
        <li>
            {{ form.email }}
        </li>
        <li class='last'>
            {% csrf_token %}
            <input type="submit" value="Reset" class='button green' />
        </li>
    
            
        
    </ul>
</form>

{% endblock content %}
{% block js %}
{% endblock js %}
