{% extends "account/authbase.html" %}
{% block title %}Reset Password{% endblock title %}

{% block content %}

<form action="{% url 'reset_password' token=token %}" method='post'>
    <ul>
        <li><h3>Enter a new passphrase</h3></li>
        {{ form.as_ul }}
        <li class='last'>
            {% csrf_token %}
            <input type="submit" value="Reset" class='button green' />
        </li>
    
            
        
    </ul>
</form>

{% endblock content %}
{% block js %}
{% endblock js %}
