html, body, div, span, applet, object, iframe,
h1, h2, body .right h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  font-size: 62.5%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/background.png) repeat-y;
}
body .wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
body .wrapright {
  float: left;
  height: 100%;
  width: 100%;
  background-color: #ffcc33;
}
body .right {
  margin-left: 169px;
  background-color: white;
  height: 100%;
  min-height: 100%;
}
body .right .breadcrumb {
  float: left;
  width: 100%;
  height: 45px;
  background: url(../images/breadcrumb.png) repeat-x;
}
body .right .breadcrumb h1 {
  float: left;
  font-size: 2em;
  color: #2b3239;
  padding-top: 14px;
  padding-left: 30px;
}
body .right h2, body .right h3 {
  float: left;
  font-size: 2.2em;
  clear: left;
  margin: 25px;
  margin-bottom: 10px;
  color: #2b3239;
}
body .right h3 {
  font-size: 2em;
  color: #858585;
}
body .right table.info {
  float: left;
  width: 800px;
  clear: left;
  margin-left: 30px;
}
body .right table.info .thead {
  background: url(../images/table_heading.png) repeat-x;
}
body .right table.info .thead td {
  font-size: 1.4em;
  color: #b4b4b4;
  padding-top: 10px;
  padding-bottom: 15px;
}
body .right table.info .thead td.status {
  padding-left: 10px;
}
body .right table.info .tbody {
  margin-top: 20px;
}
body .right table.info .tbody.odd {
  background: #f1f1f0;
}
body .right table.info .tbody td {
  margin: 10px;
  padding: 8px;
  padding-left: 0px;
  font-size: 1.4em;
  color: #656565;
}
body .right .status {
  width: 100px;
}
body .right .status span {
  width: 18px;
  height: 18px;
  float: left;
  margin-left: 20px;
  background: url(../images/status_icons.png) no-repeat;
}
body .right .status .ok {
  background-position: 0px -36px;
}
body .right .status .warning {
  background-position: 0px -18px;
}
body .right .overview {
  width: 80px;
}
body .right .check {
  width: 150px;
}
body .left {
  float: left;
  width: 169px;
  margin-left: -100%;
  background: url(../images/left.png) repeat-y;
  height: 100%;
  min-height: 100%;
}
body .left .logo {
  float: left;
  width: 92px;
  height: 112px;
  margin-top: 20px;
  margin-left: 30px;
  background: url(../images/logo.png) no-repeat;
}
body .left ul {
  float: left;
  margin-top: 35px;
}
body .left ul li {
  float: left;
  clear: left;
  margin-bottom: 8px;
}
body .left ul li a.top {
  width: 117px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 50px;
  float: Left;
  text-align: right;
  color: #a5aabf;
  font-size: 1.6em;
  text-decoration: none;
  background: url(../images/inactive_page.png) no-repeat;
}
body .left ul li a.top:hover, body .left ul li a.top.active {
  background: url(../images/active_page.png) no-repeat;
  color: #2c2c34;
  padding-top: 16px;
  margin-top: -8px;
}
body .left ul ul {
  float: left;
}
body .left ul ul li {
  float: left;
}
body .left ul ul li a {
  color: red;
}

.chart {
  float: left;
  width: 800px;
  height: 250px;
  margin-left: 25px;
  clear: left;
}

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #ffdddd;
  padding: 8px;
  background-color: #ffeeee;
  opacity: 0.8;
  font-size: 1.4em;
}

.legend {
  float: left;
  clear: left;
  margin-top: 10px;
  width: 800px;
}
.legend ul {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.legend ul li {
  margin-top: 13px;
}
.legend ul li span.color {
  width: 12px;
  height: 12px;
  margin-bottom: -1px;
  margin-right: 6px;
}
.legend ul li span.color.one {
  background: #00adfc;
}
.legend ul li span.color.two {
  background: #25ca20;
}
.legend ul li span.color.three {
  background: #8000a9;
}
.legend ul li span {
  text-align: left;
  font-size: 1.3em;
  width: 100px;
  display: inline-block;
  color: #858585;
}

ul.tabs {
  margin: 20px;
  margin-top: 30px;
  float: left;
}
ul.tabs li {
  float: left;
}
ul.tabs li a {
  background: #2c2d35;
  margin-right: 1px;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  padding: 8px 10px 8px 10px;
}
ul.tabs li a:hover, ul.tabs li a.active {
  background: #ffcc33;
  color: black;
}
