html, body, div, span, applet, object, iframe,
h1, h2, .right h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  font-size: 62.5%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/sidebar.png) repeat-y;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wrapright {
  float: left;
  height: 100%;
  width: 100%;
}

.right {
  margin-left: 154px;
  background-color: white;
  height: 100%;
  min-height: 100%;
  width: 820px;
}
.right .breadcrumb {
  float: left;
  width: 100%;
}
.right .breadcrumb h1 {
  float: left;
  font-size: 3.6em;
  font-weight: bold;
  color: #d2d2d2;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.right h2, .right h3 {
  float: left;
  font-size: 3em;
  clear: left;
  margin: 25px;
  margin-bottom: 20px;
  color: #727272;
}
.right h3 {
  font-size: 2em;
  color: #858585;
}
.right table.info {
  float: left;
  width: 800px;
  clear: left;
  margin-left: 30px;
}
.right table.info .thead {
  background: url(../images/table_heading.png) repeat-x;
}
.right table.info .thead td {
  font-size: 1.4em;
  color: #b4b4b4;
  padding-top: 10px;
  padding-bottom: 15px;
}
.right table.info .thead td.status {
  padding-left: 10px;
}
.right table.info .tbody {
  margin-top: 20px;
}
.right table.info .tbody.odd {
  background: #f1f1f0;
}
.right table.info .tbody td {
  margin: 10px;
  padding: 8px;
  padding-left: 0px;
  font-size: 1.4em;
  color: #656565;
}
.right .status {
  width: 10px;
}
.right .status span {
  width: 18px;
  height: 18px;
  float: left;
  margin-left: 20px;
  background: url(../images/status_icons.png) no-repeat;
}
.right .status .ok {
  background-position: 0px -36px;
}
.right .status .warning {
  background-position: 0px -18px;
}
.right .overview {
  width: 80px;
  font-weight: bold;
}
.right .check {
  width: 150px;
}

.left {
  float: left;
  width: 154px;
  margin-left: -100%;
  background: url(../images/sidebar.png) repeat-y;
  z-index: 9999;
  height: 100%;
  min-height: 100%;
}
.left .logo {
  float: left;
  width: 99px;
  height: 104px;
  background: url(../images/logo.png) no-repeat;
  margin-top: 20px;
  margin-left: 25px;
}
.left ul {
  float: left;
  margin-top: 35px;
}
.left ul li {
  float: left;
  clear: left;
}
.left ul li a.top {
  outline: none;
  width: 120px;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 22px;
  float: Left;
  text-align: right;
  color: #a5aabf;
  font-size: 1.6em;
  text-decoration: none;
}
.left ul li a.top:hover, .left ul li a.top.active {
  background: url(../images/active_button.png) repeat-x;
  color: white;
}
.left ul ul {
  float: left;
}
.left ul ul li {
  float: left;
}
.left ul ul li a {
  color: red;
}

.chart {
  float: left;
  width: 800px;
  height: 250px;
  margin-left: 25px;
  margin-bottom: 30px;
  clear: left;
}

#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #ffdddd;
  padding: 8px;
  background-color: #ffeeee;
  opacity: 0.8;
  font-size: 1.4em;
}

.legend {
  float: right;
  margin-top: 38px;
}
.legend ul li {
  float: left;
}
.legend ul li span.color {
  width: 12px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  height: 12px;
  margin-bottom: -1px;
  margin-right: 6px;
}
.legend ul li span.color.one {
  background: #00adfc;
}
.legend ul li span.color.two {
  background: #25ca20;
}
.legend ul li span.color.three {
  background: #8000a9;
}
.legend ul li span {
  text-align: left;
  font-size: 1.3em;
  display: inline-block;
  margin-right: 30px;
  color: #858585;
}
.legend ul li span.last {
  margin-right: 0px;
}

ul.tabs {
  margin: 20px;
  float: left;
}
ul.tabs li {
  float: left;
  margin-right: 20px;
}
ul.tabs li label {
  float: left;
  font-size: 1.6em;
  margin-bottom: 4px;
}
ul.tabs li a {
  background: #2c2d35;
  margin-right: 1px;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  padding: 8px 10px 8px 10px;
}
ul.tabs li a:hover, ul.tabs li a.active {
  background: #ffcc33;
  color: black;
}
ul.tabs li input[type=text] {
  clear: both;
  float: left;
  width: 200px;
  height: 25px;
  padding: 4px;
  font-size: 1.6em;
  color: #727272;
}
ul.tabs li input[type=submit] {
  margin-top: 25px;
  float: left;
}

.log_list, .exceptions_list {
  float: left;
  margin: 20px;
  width: 800px;
}
.log_list li, .exceptions_list li {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  clear: left;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.log_list li span.date, .exceptions_list li span.date {
  color: #858585;
  font-size: 1.4em;
  float: left;
}
.log_list li p, .exceptions_list li p {
  font-size: 1.4em;
  float: left;
  clear: left;
  padding-top: 10px;
}
.log_list li span.level, .exceptions_list li span.level {
  float: left;
  width: 50px;
  color: white;
  font-size: 1.4em;
  margin-right: 10px;
  padding: 3px;
  text-align: center;
}
.log_list li span.level.notset, .exceptions_list li span.level.notset {
  background: #cccccc;
}
.log_list li span.level.warning, .exceptions_list li span.level.warning {
  background: red;
}
.log_list li span.level.info, .exceptions_list li span.level.info {
  background: green;
}
.log_list li span.level.debug, .exceptions_list li span.level.debug {
  background: #ffcc33;
}

.exceptions_list p.backtrace {
  background: #eeeeee;
  padding: 7px;
}
.exceptions_list p.backtrace span {
  float: left;
  clear: left;
  width: 100%;
  padding-top: 4px;
  color: #464646;
}
.exceptions_list ul.exception_data li {
  border: 0px;
}
.exceptions_list ul.exception_data li span.label {
  font-size: 1.6em;
  width: 120px;
  float: left;
  clear: left;
  font-weight: bold;
}
.exceptions_list ul.exception_data li span.data {
  font-size: 1.6em;
  float: left;
  margin-left: 6px;
}
.exceptions_list span.additional_key {
  float: left;
  clear: left;
  font-size: 1.6em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.exceptions_list span.additional_key_inner {
  float: left;
  margin-left: 8px;
  padding-top: 3px;
  clear: left;
  font-size: 1.4em;
  font-weight: bold;
}
.exceptions_list span.additional_value_inner {
  float: left;
  margin-left: 6px;
  padding-top: 3px;
  font-size: 1.4em;
}
