@charset "UTF-8";
/* line 14, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../src/screen.sass */
html {
  height: 100%;
}

/* line 9, ../src/screen.sass */
body {
  font-size: 62.5%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/background.png) repeat-y;
}
/* line 19, ../src/screen.sass */
body .wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* line 27, ../src/screen.sass */
body .wrapright {
  float: left;
  height: 100%;
  width: 100%;
  background-color: #ffcc33;
}
/* line 37, ../src/screen.sass */
body .right {
  margin-left: 171px;
  background-color: white;
  height: 100%;
  min-height: 100%;
}
/* line 47, ../src/screen.sass */
body .right .breadcrumb {
  float: left;
  width: 100%;
  height: 45px;
  background: url(../images/breadcrumb.png) repeat-x;
}
/* line 57, ../src/screen.sass */
body .right .breadcrumb h1 {
  float: left;
  font-size: 2em;
  color: #2b3239;
  padding-top: 14px;
  padding-left: 20px;
}
/* line 71, ../src/screen.sass */
body .right h2 {
  float: left;
  font-size: 2.2em;
  clear: left;
  margin: 25px;
  margin-bottom: 10px;
  color: #2b3239;
}
/* line 85, ../src/screen.sass */
body .right table {
  float: left;
  width: 800px;
  clear: left;
  margin-left: 20px;
}
/* line 97, ../src/screen.sass */
body .right table .thead {
  background: url(../images/table_heading.png) repeat-x;
}
/* line 101, ../src/screen.sass */
body .right table .thead td {
  font-size: 1.4em;
  color: #b4b4b4;
  padding-top: 10px;
  padding-bottom: 15px;
}
/* line 113, ../src/screen.sass */
body .right table .thead td.status {
  padding-left: 10px;
}
/* line 117, ../src/screen.sass */
body .right table .tbody {
  margin-top: 20px;
}
/* line 121, ../src/screen.sass */
body .right table .tbody.odd {
  background: #f1f1f0;
}
/* line 125, ../src/screen.sass */
body .right table .tbody td {
  margin: 10px;
  padding: 8px;
  padding-left: 0px;
  font-size: 1.4em;
  color: #656565;
}
/* line 137, ../src/screen.sass */
body .right .status {
  width: 100px;
}
/* line 141, ../src/screen.sass */
body .right .status span {
  width: 18px;
  height: 18px;
  float: left;
  margin-left: 20px;
  background: url(../images/status_icons.png) no-repeat;
}
/* line 153, ../src/screen.sass */
body .right .status .ok {
  background-position: 0px -36px;
}
/* line 157, ../src/screen.sass */
body .right .status .warning {
  background-position: 0px -18px;
}
/* line 161, ../src/screen.sass */
body .right .overview {
  width: 80px;
}
/* line 165, ../src/screen.sass */
body .right .check {
  width: 150px;
}
/* line 169, ../src/screen.sass */
body .left {
  float: left;
  width: 160px;
  margin-left: -100%;
  background: url(../images/left.png) repeat-y;
  height: 100%;
  min-height: 100%;
}
/* line 183, ../src/screen.sass */
body .left .logo {
  float: left;
  width: 92px;
  height: 112px;
  margin-top: 20px;
  margin-left: 30px;
  background: url(../images/logo.png) no-repeat;
}
/* line 199, ../src/screen.sass */
body .left ul {
  float: left;
  margin-top: 35px;
}
/* line 205, ../src/screen.sass */
body .left ul li {
  float: left;
  clear: left;
}
/* line 211, ../src/screen.sass */
body .left ul li a {
  width: 120px;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  float: Left;
  color: #2b3239;
  font-size: 2em;
  text-decoration: none;
}
/* line 231, ../src/screen.sass */
body .left ul li a:hover, body .left ul li a.active {
  background: #ffcc33;
}

/* line 237, ../src/screen.sass */
.chart {
  float: left;
  width: 800px;
  height: 250px;
  margin-left: 25px;
  clear: left;
}
