@import "compass/reset"
@import "compass/css3"
html
  height: 100%
body
  font-size: 62.5%
  height: 100%
  font-family: Arial, Helvetica, sans-serif
div.center
  margin: 0 auto
  width: 360px
  height: 100px
  margin-top: 15px
  .error
    float: left
    background: #BC0000
    margin-top: 4px
    font-size: 1.4em
    padding: 8px
      top: 5px
      bottom: 5px
    color: white
    +border-radius(4px)
  .message
    background: #FBEFEF
    margin-top: 15px
    border: 5px solid #F5CFCF 
    padding: 10px
    font-size: 1.4em
    line-height: 1.4em
    +border-radius(5px)
    &.green
      background: #F0F7E4
      border: 5px solid  #CEDDB5 
  .logo
    margin: 0 auto
    text-align: center
    display: block
  input[type=text], input[type=password] 
    width: 265px
    height: 40px
    padding-left: 45px
    border: 1px solid #D2D2D2 
    +border-radius(6px)
    position: relative
  .button
    float: right
    border: 0px
    cursor: pointer
    background: #89BC32
    color: white
    border: 2px solid  #639213 
    +border-radius(4px)
    font-weight: bold
    padding: 6px
      left: 10px
      right: 10px
    &:hover
      color: #4D710F 
  ul
    float: left
    li
      float: left
      width: 316px
      clear: left
      margin: 18px
        bottom: 5px
        top: 14px
        right: 13px
div.login_box
  margin-top: 15px
  background: url(../images/box.png)
  +border-radius(6px)
  border: 6px solid #F0F0F0 
  float: left
  padding-bottom: 10px
  .background-label
    width: 41px
    height: 44px
    float: left
    margin-bottom: -46px
    position: relative
    z-index: 100
    &.username
      background: url(../images/user.png)
    &.password
      background: url(../images/password.png)

