@import "compass/css3";

$border_color: #fdcb34;

#header {
  width: 100%;
  height: 100px;
  a.logo {
    float: left;
    width: 242px;
    height: 59px;
    background: url(../images/logo.png) no-repeat;
    margin: 20px {
      left: 0px;
      bottom: 20px;
      right: 0px; }; }
  .header_separator {
    float: left;
    width: 100%;
    height: 3px;
    background: #e8e8e8; }
 #menu {
    float: right;
    padding-top: 16px;
    position: relative;
    clear: right;
    z-index: 5;
    li {
      float: left;
      margin-left: 30px;
      position: relative;
      span.unread {
        background: #fdcb34;
        @include border-radius(6px);
        padding: {
          left: 6px;
          right: 6px;
          }
      }
      a {
        font-size: 1.8em;
        color: black;
        text-decoration: none;
        padding-bottom: 4px;
        &.active, &:hover {
          border-bottom: 2px solid #fdcb34;
          .unread {
            background: white;
          }
        }
      }
    }
  }
  .logout {
    background: url(../images/logout.png);
    text-indent: -3000px;
    margin-top: 5px;
    float: right;
    padding: 0px;
    border: 0px;
    width: 26px;
    height: 26px;
    background-position: 0px 0px;
    &:hover {
      background-position: 0px -26px; } } }

.anchor {
  float: left;
  height: 2px;
  width: 100%; }

.top-menu-spacer {
  width: 1px;
  height: 1px;
  float: right;
  margin-bottom: 20px; }

ul.settings_block {
  float: left;
  background: #f7f7f7;
  width: 100%;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  li {
    float: left;
    padding: 8px;
    span.label {
      float: left;
      width: 200px;
      font-size: 1.6em;
      padding-top: 8px; }
    .button {
      font-size: 1.6em;
      margin-top: 1px;
      float: left; } } }

.settings-error {
  color: #bc0000;
  font-size: 1.6em;
  margin-left: 115px; }
