@import "compass/reset"
@import "compass/css3"

html
  height: 100%
body
  font-size: 62.5%
  height: 100%
  font-family: Arial, Helvetica, sans-serif
  background: url(../images/sidebar.png) repeat-y
  .wrapper
    width: 100%
    height: 100%
    margin: 0 auto
  .wrapright
    float: left
    height: 100%
    width: 100%
    background-color: #ffcc33
  .right
    margin-left: 168px
    background-color: white
    height: 100%
    min-height: 100%
    .breadcrumb
      float: left
      width: 100%
      height: 45px
      background: url(../images/breadcrumb.png) repeat-x
      h1
        float: left
        font-size: 2em
        color:  #2b3239
        padding:
          top: 12px
          left: 20px
    h2
      float: left
      font-size: 2.2em
      clear: left
      margin: 25px
        bottom: 10px
      color: #2b3239 
    h3
      @extend h2
      font-size: 2em
      color: #858585
    table.info
      float: left
      width: 800px
      clear: left
      margin-left: 30px
      td
      .thead
        background: url(../images/table_heading.png) repeat-x 
        td
          font-size: 1.4em
          color:  #b4b4b4
          padding:
            top: 10px
            bottom: 15px
          &.status
            padding-left: 10px
      .tbody
        margin-top: 20px
        &.odd
          background: #F1F1F0 
        td
          margin: 10px
          padding: 8px
            left: 0px
          font-size: 1.4em
          color: #656565 
    .status
      width: 10px
      span
        width: 18px
        height: 18px
        float: left
        margin-left: 20px
        background: url(../images/status_icons.png) no-repeat
      .ok
        background-position: 0px -36px
      .warning
        background-position: 0px -18px
    .overview
      width: 80px
    .check
      width: 150px
  .left
    float: left
    width: 168px
    margin-left: -100%
    background: url(../images/sidebar.png) repeat-y
    z-index: 9999
    height: 100%
    min-height: 100%
    .logo
      float: left
      width: 92px
      height: 112px
      background: url(../images/logo.png) no-repeat
      margin:
        top: 20px
        left: 30px
    ul
      float: left
      margin-top: 35px
      li
        float: left
        clear: left
        margin-bottom: 8px
        a.top
          width: 117px
          padding: 10px
            top: 8px
            bottom: 12px
            left: 10px
            right: 50px
          float: Left
          text-align: right
          color:  #A5AABF
          font-size: 1.6em
          text-decoration: none
          background: url(../images/inactive_page.png) no-repeat
          &:hover, &.active
            background: url(../images/active_page.png) no-repeat
            color: #2C2C34
            padding-top: 16px
            margin-top: -8px
      ul
        float: left
        li
          float: left
          a
            color: red

// Charts
.chart
  float: left
  width: 800px
  height: 250px
  margin-left: 25px
  clear: left
#tooltip
  position: absolute
  display: none
  border: 1px solid #fdd
  padding: 8px
  background-color: #fee
  opacity: 0.80
  font-size: 1.4em
.legend
  float: left
  clear: left
  margin-top: 10px
  width: 800px
  ul
    text-align: center
    position: relative
    margin: 0 auto
    li
      margin-top: 13px
      span.color
        width: 12px
        height: 12px
        margin-bottom: -1px
        margin-right: 6px
        &.one
          background: #00ADFC
        &.two
          background: #25CA20
        &.three
          background: #8000A9
      span
        text-align: left
        font-size: 1.3em
        width: 100px
        display: inline-block
        color: #858585
// yellow-black tab bar
ul.tabs
  margin: 20px
    top: 30px
  float: left
  li
    float: left
    a
      background:  #2C2D35
      margin-right: 1px
      color: white
      text-decoration: none
      font-size: 1.4em
      padding: 8px 10px 8px 10px
      &:hover, &.active
        background: #FFCC33 
        color: black
// Logs
.log_list
  float: left
  margin: 20px
  width: 800px
  li
    padding-top: 10px
    padding-bottom: 10px
    float: left
    clear: left
    width: 100%
    border-bottom: 1px solid #ccc
    span.date
      color: #858585
      font-size: 1.4em
      float: left
    p
      font-size: 1.4em
      float: left
      clear: left
      padding-top: 10px
    span.level
      float: left
      width: 50px
      color: white
      font-size: 1.4em
      margin-right: 10px
      padding: 3px
      text-align: center
      &.notset
        background: #ccc
      &.warning
        background: red
      &.info
        background: green
      &.debug
        background: #FFCC33
// Exceptions 
.exceptions_list
  @extend .log_list
  p.backtrace
    background: #eee
    padding: 7px
    span
      float: left
      clear: left
      width: 100%
      padding-top: 4px
      color: #464646
  ul.exception_data
    li
      border: 0px
      span.label
        font-size: 1.6em
        width: 120px
        float: left
        clear: left
        font-weight: bold
      span.data
        font-size: 1.6em
        float: left
        margin-left: 6px
  span.additional_key
    float: left
    clear: left
    font-size: 1.6em
    margin:
      top: 5px
      bottom: 5px
  span.additional_key_inner
    float: left
    margin-left: 8px
    padding-top: 3px
    clear: left
    font-size: 1.4em
    font-weight: bold
  span.additional_value_inner
    float: left
    margin-left: 6px
    padding-top: 3px
    font-size: 1.4em
