{% extends "notifications/_alerts/emails/base.html" %}
{% block content %}
<table cellspacing="0" cellpadding="0" align="left">
<tbody>
    <tr>
        <h3>Reset your Amon Password</h3>
    </tr>
    </tbody>
</table>

<div align="left" class="article-content">
    <multiline label="Description">
To reset your Amon Password visit the following URL: 
<br><br>
<a target="_blank" href="{% base_url 'reset_password' token=token %}">{% base_url 'reset_password' token=token %}</a>
 </multiline>
</div>

{% endblock content %}
